body {
  /* background-color: aqua; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav {
  /* border: 2px solid blue; */
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-evenly;
  list-style-type: none;
}

.container {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.kitten {
  /* border: 2px dashed green; */
  width: 23%;
  margin: 1%;
}


img {
  /* border: 2px solid orange; */
  width: 100%;
}




footer a {
  color: rgb(61, 81, 82);
}

header {
  padding: 5px;
  background-color: rgb(87, 121, 122);
  color: white;
  font-weight: bold;
  text-align: center;
}

footer {
  padding: 5px;
  background-color: rgb(194, 205, 206);
  text-align: center;
}

nav {
  background-color: rgb(194, 205, 206);
  padding: 10px;
  font-weight: bold;
}

.puppy {
  /* what's different here?? check the css-tips and tricks for the explanation of flex / flex-basis */
  flex: 23% 1 0;
  margin: 1%;
}